* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* filter adver navbar  */
.filter-nav
{
  color: #F7BC87;
  font-family: 'Nunito', sans-serif;
}
ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D53927;
}
li 
{
  float: left;
}
li a
{
  display: block;
  color:  #F7BC87;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}
  /* Change the link color to #111 (black) on hover */
li a:hover 
{
  background-color: #520b0b;
  -webkit-transition: background-color 0.5s ease-out;
    -moz--transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
body
{  
 color: #F7BC87;
 font-family: 'Nunito', sans-serif;
 font-size: 1rem;
}
.scene 
{
  width: 25rem;
  height: 25rem;
  margin: 40px 0;
  perspective: 600px;
  background-color: #D53927;
}
.card 
{
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}
.card.is-flipped 
{
  transform: translateX(-100%) rotateY(-180deg);
}
.card__face 
{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: #232320;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}
.card__face--front 
{
  background-image: "https://hexagram.io/analysis/crop/P0001894-1.png" ;
}
.card__face--back 
{
  background-color: #f7bc87;
background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
  transform: rotateY(180deg);
}
.advert 
{
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%) contrast(200%) sepia(.60) ;
}
.advert:hover 
{
  filter: none;
}

.back-card-info {
  height:30%; 
  width: 100%;
}
