* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* filter advertisments navbar  */
.filter-nav
{
  color: #F7BC87;
  font-family: 'Nunito', sans-serif;
}
ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D53927;
}
li 
{
  float: left;
}
li a
{
  display: block;
  color:  #F7BC87;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}
  /* Change the link color on hover */
li a:hover 
{
  background-color: #520b0b;
  -webkit-transition: background-color 0.5s ease-out;
    -moz--transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
body
{  
 color: #F7BC87;
 font-family: 'Nunito', sans-serif;
 font-size: 1rem;
}
.scene {
  width: 300px;
  height: 400px;
  margin: 40px 0;
  perspective: 600px;
  padding: .5rem;
}
.card {
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  filter: grayscale(100%) contrast(160%) sepia(.60) ;
}
.card:hover 
{
  filter: none;
}
.card.is-flipped {
  transform: rotateY(-180deg);
}
.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card__face--front {
  background: #92271b;
}
.card__face--back {
  background: #f7bc87;
  transform: rotateY(-180deg);
}
.back-card-info {
  height: 5px;
  font-size: 1rem ;
  text-align: left;
  margin: 1rem;
  word-wrap: break-word;
}
.card-scroll {
  overflow-y: scroll;
  overflow-x: none;
  height: 1000px;
}
.card-scroll::-webkit-scrollbar {
  width: 1em;
}
.card-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.card-scroll::-webkit-scrollbar-thumb {
  background-color:  #f7bc87;
  outline: 1px solid slategrey;
}
.hidden {
  visibility: hidden;
}